USE [TESTDB]
GO
/****** Object:  Table [dbo].[cust_acct]    Script Date: 6/11/2024 1:23:48 AM ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cust_acct](
    [id] [uniqueidentifier] NOT NULL,
    [cust_id] [varchar](36) NOT NULL,
    [acct_type] [varchar](32) NOT NULL,
    [acct_no] [varchar](50) NOT NULL,
    [currency_code] [varchar](3) NULL,
    [card_no] [varchar](16) NOT NULL,
    [is_salary_acct] [smallint] NULL,
    [created_by] [varchar](32) NULL,
    [created_date] [datetime2](0) NULL DEFAULT GETDATE(),
    [updated_by] [varchar](32) NULL,
    [updated_date] [datetime2](0) NULL DEFAULT GETDATE(),
    CONSTRAINT PK_cust_acct PRIMARY KEY (id)
) ON [PRIMARY]
GO




